{% extends 'account/base_account.html' %}
{% load static %}
{% block content %}

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form action="{% url 'account_login' %}" method="POST">
                {% csrf_token %}
                <h1>Login</h1>
                <div>
                    {{ form}}
                </div>
                <div>
                    <button class="btn btn-sm btn-default" type="submit"> Log in</button>
                    <a class="" href="{% url 'users:reset-password' %}">Forgot your password?</a>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">New to SoundScription?
                        <a href="{% url 'account_signup' %}" class="to_register"> Create Account </a>
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <p>©2023 All Rights Reserved. <a href="">Privacy and
                                Terms</p></a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock content %}