{% extends 'account/base_account.html' %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<a class="hiddenanchor" id="signup"></a>
<a class="hiddenanchor" id="signin"></a>
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <h1>{% trans "Change Password" %}</h1>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
        </section>
        <section>
            <p>
                <b>Password requirements</b>:
                Must contain at least 6 characters.
                Must contain upper case character and special character.
                Can't contain the username/email used to create this account.
                Can't contain three or more consecutive repeated characters (e.g. “aaabcdef”)
                Can't be the same as your last password
                <b>Password guidelines</b>:
                If a password manager is not available, consider using a long paraphrase that has some meaning for you.
                It should include special characters and is difficult to crack (e.g. “Owls are such lovely creatures!”)
            </p>
        </section>
    </div>
</div>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816"
    integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw=="
    data-cf-beacon='{"rayId":"7bcc49047e03e3df","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.3.0","si":100}'
    crossorigin="anonymous"></script>

{% endblock content %}