{% extends 'account/base_account.html' %}
{% load static %}
{% block content %}

<div class="login_wrapper">
    <section class="login_content">
        <form action="{% url 'account_signup' %}" method="POST">
            {% csrf_token %}
            <h1>Create Account</h1>
            <div>
                {{ form }}
            </div>
            <div>
                <button class="btn btn-sm btn-default" type="submit">Submit</button>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
                <p class="change_link">Already a member ?
                    <a href="{% url 'account_login' %}" class="to_register"> Log in </a>
                </p>
                <div class="clearfix"></div>
                <br />
                <div>
                    <p>©2023 All Rights Reserved. <a href="">Privacy and
                            Terms</p></a>
                </div>

            </div>
        </form>
    </section>
</div>
{% endblock content %}