{% load static %}
{% load message_tags %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<style>
    .alert-error {
        --cui-alert-color: #893232;
        --cui-alert-bg: #fadddd;
        --cui-alert-border-color: #f7cbcb;
    }
</style>

{% if messages %}
{% with messages|length as message_count %}
{% for message in messages %}
{% if forloop.counter == message_count %}
<div class="alert alert-{{ message.tags }} display-message">
    {{ message }}
</div>
{% endif %}
{% endfor %}
{% endwith %}
{% endif %}


<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".display-message").hide();
        }, 5000);
    });
</script>