{% extends 'main/base.html' %}
{% load static %}
{% load social_share %}
{% block css %}
<link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Contact Us</h1>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'users:contact-us' %}" class="form-group" method="post">
                    {% csrf_token %}
                    <div class="row mt-2">
                        <div class="col-lg-1 col-md-1 col-sm-4 col-4">
                            {{ form.subject.label }}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                            {{ form.subject }}
                        </div>
                    </div>
                    <br>
                    <div class="row mt-2">
                        <div class="col-lg-1 col-md-1 col-sm-4 col-4">
                            {{ form.message.label }}
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            {{ form.message }}
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <button class="btn btn-lg btn-primary text-white" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="x_panel">
    <div class="x_content">
        <div class="row">
            <div class="col-12">
                <h3>Our contact information</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                <ul>
                    <li>eMail: <a href="mailto:support@sounscription.com"><b>support@sounscription.com</b></li></a>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}

{% endblock js %}