{% extends 'main/base.html' %}
{% load static %}


{% block title %}
<title>Profile</title>
{% endblock title %}
{% block css %}
<link href="{% static 'vendors/bootstrap/daterangepicker.css' %}" rel="stylesheet">
<link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="page-title">
    <div class="title_left">
        <h3>User Profile</h3>
    </div>

</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-lg-3  profile_left">
                        <h3>User: {{ user }}</h3>
                        <h4><i class="fa fa-money user-profile-icon"></i>
                            Available balance: <b> $ {{ user.balance|floatformat:2 }}
                                ({{user.get_available_minutes|floatformat:2 }} minutes) </b>
                            </li>
                        </h4>
                        <a href="{% url 'users:upgrade' %}" class="btn btn-lg btn-primary">Top up account</a>
                        <hr>

                    </div>
                    <div class="col-md-1 col-sm-1">
                    </div>
                    <!-- User Activity report -->
                    <div class="col-md-3 col-sm-3 col-lg-3"
                        style="background-color: rgb(232, 241, 194); padding: 1rem; margin-right: 1rem; margin-bottom: 1rem;">
                        <div class="">
                            <h2>User Activity Report</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-12">
                                <h4><i class="fa fa-file-sound-o"></i>
                                    Transcriptions count: <b>{{ user.get_transcriptions_count }}</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                                <h4> <i class="fa fa-file-sound-o"></i> Transcriptions minutes:
                                    <b>{{ user.get_total_transactions_duration }}</b> minutes
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!-- End user activity -->

                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="x_panel">
    <div class="x_content">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4">
                <form class="form-group" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <label for="changePAssword">Change Password</label>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <input class="form-control" type="password" id="cur_password" name="cur_password"
                                        placeholder="Current password" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                                    <input class="form-control" type="password" id="password1" name="password1"
                                        placeholder="New password" required>
                                </div>
                                <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                                    <input class="form-control" type="password" id="password2" name="password2"
                                        placeholder="Confirm Password" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" id="changePasswordButton" name="change_password"
                                class="btn btn-success" onclick="return checkPasswords();"><i
                                    class="fa fa-edit m-right-xs"></i>Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    const pass1_ele = document.getElementById("password1");
    const pass2_ele = document.getElementById("password2");
    const change_pass_ele = document.getElementById("changePasswordButton");

    function checkPasswords() {
        if (pass1_ele.value != pass2_ele.value) {
            alert("Passwords not the same. Try again.")
            return false;
        };
    };

</script>
{% endblock js %}