{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 col-12">
        <h1>Record and transcribe</h1>
        <h4>Session: {{ session.id }}</h4>
    </div>
</div>
<div class="row mb-5">
    <div class="col-sm-12 col-lg-12 col-md-12 col-12">
        <button id="record-button" class="record_button">
            <span id="record_spinner"></span>Record</button>
        <span id="recording-time" style="margin-left: 10px;"></span>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12 col-sm-12 col-lg-12 col-md-12" id="recordings">

    </div>
</div>
<div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
    <div class="col-sm-12 col-lg-12 col-md-12 col-12">

        <button id="runButton" onclick="transcribeRecording()" class="transcribe_button">
            <span id="spinner" class="hidden"></span>Transcribe
        </button>

    </div>
</div>

<!-- <div class="row w-100">
    <div class="col-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Audio text</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron" id="transcription_result">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 col-12">
        <button class="btn btn-danger" onclick="location.reload();">Clear</button>
    </div>
</div>
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
</form>
{% endblock %}

{% block js %}

<script>
    var recording = false;
    var mediaRecorder;
    var chunks = [];
    var timer = null;
    var recordingTime = 0;
    var record_spinner = document.getElementById('record_spinner');

    record_spinner.style.display = "none";
    function getFileExtension(mimeType) {
        switch (mimeType) {
            case 'audio/wav':
                return 'wav';
            case 'audio/webm':
                return 'webm';
            case 'audio/ogg':
                return 'ogg';
            case 'audio/mp4':
                return 'mp4';
            default:
                return 'unknown';
        }
    }

    function startRecording() {
        console.log(`START...`);
        record_spinner.style.display = "block";
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(function (stream) {
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.addEventListener("dataavailable", function (event) {
                    chunks.push(event.data);
                });
                mediaRecorder.addEventListener("stop", function () {
                    var blob = new Blob(chunks, { type: mediaRecorder.mimeType });
                    clearInterval(timer);
                    recordingTime = 0;
                    var formData = new FormData();
                    formData.append("audio_blob", blob, "recording." + getFileExtension(mediaRecorder.mimeType));
                    formData.append("csrfmiddlewaretoken", document.querySelector('[name=csrfmiddlewaretoken]').value)
                    formData.append("device", mediaRecorder.mimeType)
                    $.ajax({
                        url: "{% url 'main:upload' session_id=session.id %}",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function () {
                            chunks = [];
                        }
                    });
                });
                mediaRecorder.start();
                recording = true;
                startTimer();
            });
    }
    $(document).on('ready', function () {
        updateRecordings();
    });
    function stopRecording() {
        console.log(`STOP!`);
        record_spinner.style.display = "none";
        mediaRecorder.stop();
        clearInterval(timer);
        recordingTime = 0;
        recording = false;
        pollForNewRecording();
    }

    function pollForNewRecording() {
        const url = "{% url 'main:check-recordings' session_id=session.id current_count=session.get_current_count %}";
        $.ajax({
            url: url,
            type: "GET",
            success: function (response) {
                if (response.success) {
                    updateRecordings();
                } else {
                    console.log(`Waiting...`);
                    setTimeout(pollForNewRecording, 1000); // Poll every 1 second
                }
            }
        });
    }

    function updateRecordings() {
        recordings_el = document.getElementById("recordings");
        url = "{% url 'main:recordings' session_id=session.id %}";
        $.ajax({
            url: url,
            type: "GET",
            success: function (response) {
                recordings_el.innerHTML = response;
            }
        });
    }

    function startTimer() {
        timer = setInterval(function () {
            recordingTime++;
            document.getElementById("recording-time").innerText = "Recording time: " + recordingTime + " seconds";
        }, 1000);
    }

    document.getElementById("record-button").addEventListener("click", function () {
        if (recording) {
            stopRecording();
            document.getElementById("record-button").innerText = "Record";
            document.getElementById("recording-time").innerText = "";
        } else {
            startRecording();
            document.getElementById("record-button").innerText = "Stop";
        }
    });
</script>
<script>
    const spinner = document.getElementById('spinner');

    function transcribeRecording() {
        spinner.classList.remove('hidden');
        const url = "{% url 'main:transcribe' session_id=session.id %}";
        var formData = new FormData();
        formData.append("csrfmiddlewaretoken", document.querySelector('[name=csrfmiddlewaretoken]').value)
        $.ajax({
            url: url,
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (message) {
                if (message.success) {
                    spinner.classList.add('hidden');
                    location.reload();
                }
                else {
                    console.log(`>>> ${message.success}`);
                    spinner.classList.add('hidden');
                    alert("Error transcribing. Contact support");
                }
            }
        });
    }

</script>

{% endblock js %}