{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
<style>
    .recording {
        font-size: 2rem;
    }
</style>
{% endblock css %}
{% block content %}
<div id="loader-container">
    <div id="loader-content">
        <p id="loader-text"></p>
        <button id="stop-btn" style="display: none;" class="btn btn-lg btn-warning">Stop Recording</button>
        <span id="recording-time" style="margin-left: 10px;"></span>
        <div id="loader"></div>
    </div>
</div>
<section id="active_recording_section">

    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-12">
            <h1>Record and transcribe </h1>
            <h4>Session: {{ session.id }}</h4>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-3 col-lg-3 col-md-3 col-3">
            <button id="record-button" class="record_button">Record</button>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-sm-12 col-lg-12 col-md-12" id="recordings">
            <table class="table">
                <thead>
                    <th>Recording Time</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    {% for record in recordings %}
                    <tr>
                        <td>
                            {{ record.created }}
                        </td>
                        <td>
                            <a href="{{ record.voice_recording.url }}">
                                <i class="fa fa-play-circle-o fa-2x"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <i class="fa fa-trash fa-2x" onclick="deleteRecording('{{ record.id }}')"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;" id="transcribe_section" hidden>
        <div class="col-sm-2 col-lg-1 col-md-1 col-1">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-md-6 col-6">
                        <label for="hebrew">HE</label>
                        <input type="radio" name="language" id="hebrew" value="he" checked="" required />
                    </div>
                    <div class="col-sm-6 col-lg-6 col-md-6 col-6">
                        <label for="english">EN</label>
                        <input type="radio" name="language" id="english" value="en" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-lg-2 col-md-2 col-2">
            <button id="runButton" onclick="transcribeRecording()" class="transcribe_button">
                Transcribe
            </button>
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3 col-3">
            <a href="{% url 'users:upgrade' %}" class="btn btn-primary btn-sm hidden" id="topUpButton">
                Top-Up your account
            </a>
        </div>

    </div>

</section>
<div class="row w-100">
    <div class="col-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Audio text</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron" id="transcription_result" dir="rtl">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% include 'main/modals/confirm_clear_session_modal.html' %}

    <div class="col-sm-12 col-lg-12 col-md-12 col-12">
        <button class="btn btn-danger" data-toggle="modal" data-target="#modal_confirm_clear_session">
            Reset/Restart Session</button>
        <i class="fa fa-question-circle fa-2x" data-toggle="tooltip" data-placement="top"
            title="Deleting the recordings in the current session"></i>
    </div>
</div>
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
</form>
{% endblock %}

{% block js %}


<script src="{% static 'js/myjs.js' %}"></script>
<script>
    var recording = false;
    var mediaRecorder;
    var chunks = [];
    var timer = null;
    var recordingTime = 0;

    function getFileExtension(mimeType) {
        switch (mimeType) {
            case 'audio/wav':
                return 'wav';
            case 'audio/webm':
                return 'webm';
            case 'audio/ogg':
                return 'ogg';
            case 'audio/mp4':
                return 'mp4';
            default:
                return 'unknown';
        }
    }

    function startRecording() {
        console.log(`START...`);
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(function (stream) {
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.addEventListener("dataavailable", function (event) {
                    chunks.push(event.data);
                });
                mediaRecorder.addEventListener("stop", function () {
                    var blob = new Blob(chunks, { type: mediaRecorder.mimeType });
                    clearInterval(timer);
                    recordingTime = 0;
                    var formData = new FormData();
                    formData.append("audio_blob", blob, "recording." + getFileExtension(mediaRecorder.mimeType));
                    formData.append("csrfmiddlewaretoken", document.querySelector('[name=csrfmiddlewaretoken]').value)
                    formData.append("device", mediaRecorder.mimeType)
                    $.ajax({
                        url: "{% url 'main:upload' session_id=session.id %}",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function () {
                            chunks = [];
                        }
                    });
                });
                mediaRecorder.start();
                recording = true;
                startTimer();
            });
    }

    function stopRecording() {
        console.log(`STOP!`);
        mediaRecorder.stop();
        clearInterval(timer);
        recordingTime = 0;
        recording = false;
        pollForNewRecording();
        enableElements();
    }

    function pollForNewRecording() {
        console.log(`polling...`);
        const url = "{% url 'main:check-recordings' session_id=session.id current_count=session.get_current_count %}";
        $.ajax({
            url: url,
            type: "GET",
            success: function (response) {
                if (response.success) {
                    location.reload();
                } else {
                    console.log(`Waiting...`);
                    setTimeout(pollForNewRecording, 1000); // Poll every 1 second
                }
            }
        });
    }

    function startTimer() {
        timer = setInterval(function () {
            recordingTime++;
            document.getElementById("recording-time").innerText = "Recording time: " + recordingTime + " seconds";
        }, 1000);
    }

</script>
<script>
    const transcription_result_el = document.getElementById("transcription_result");
    var transcription_language = document.querySelectorAll('input[name="language"]');
    const top_up_button_ele = document.getElementById("topUpButton");
    const active_recording_section_ele = document.getElementById("active_recording_section");

    function transcribeRecording() {
        showLoader('Transcribing...');
        const url = "{% url 'main:transcribe' session_id=session.id %}";
        // getting the language
        for (var i = 0; i < transcription_language.length; i++) {
            if (transcription_language[i].checked) {
                selectedLanguage = transcription_language[i].value;
                break;
            }
        }

        var formData = new FormData();
        formData.append("csrfmiddlewaretoken", document.querySelector('[name=csrfmiddlewaretoken]').value)
        formData.append("language", selectedLanguage)

        $.ajax({
            url: url,
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (message) {
                if (message.success) {
                    transcription_result_el.innerHTML = message.content;
                    hideLoader();
                    active_recording_section_ele.classList.add('hidden');
                    transcribeBtn.classList.add('hidden');
                }
                else if (message.content == "balance") {
                    alert("Error transcribing. You don't have enough in your balance");
                    hideLoader();
                    top_up_button_ele.classList.remove("hidden");
                } else {
                    alert("Error transcribing. Contact support");
                    hideLoader();
                    transcribeBtn.classList.add('hidden');
                }
            }
        });
    }

    function hideTranscriber() {
        var condition = true;

        if (condition) {
            var container = document.getElementById("transcribe_section");
            container.style.display = "none";
        }
    }
    function showTranscriber() {

        let session_recordings = "{{ session.get_current_count }}";

        if (session_recordings > 0) {
            var container = document.getElementById("transcribe_section");
            container.style.display = "block";
        }
    }


    function disableElements() {
        var condition = true;

        if (condition) {
            // Add a CSS class to all child elements to make them appear grayed out and disabled
            var container = document.getElementById("transcribe_section");
            var children = container.querySelectorAll("*");
            for (var i = 0; i < children.length; i++) {
                children[i].classList.add("inactive");
                if (children[i].tagName === "INPUT" || children[i].tagName === "BUTTON") {
                    children[i].disabled = true;
                }
            }
        }
    }

    function enableElements() {
        // Enable and restore the appearance of all child elements of the div
        var container = document.getElementById("transcribe_section");
        var children = container.querySelectorAll("*");
        for (var i = 0; i < children.length; i++) {
            if (children[i].tagName === "INPUT" || children[i].tagName === "BUTTON") {
                children[i].disabled = false;
            }
            children[i].classList.remove("inactive");
        }
    }

    window.addEventListener("load", showTranscriber);
</script>

<script>
    function clearSessionRecordings() {
        url = "{% url 'main:clear-session' session_id=session.id %}";
        $.ajax({
            url: url,
            method: "GET",
            success: function (message) {
                if (message.success) {
                    console.log(`Delete success`);
                    location.reload();
                } else {
                    console.log(`FAIL to delete`);
                }
            }
        })

    }
</script>

<script>
    function deleteRecording(recordingId) {
        url = `{% url 'main:delete-recording' %}?recording_id=${recordingId}`;
        $.ajax({
            url: url,
            method: "GET",
            success: function (response) {
                if (response.success) {
                    console.log(`OK`);
                    location.reload();
                }
            }
        })
    }
</script>
{% endblock js %}